<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">nossas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li><a href="https://www.facebook.com/AndreL.Aragao/" target="_blank" class="icoFacebook" title="Facebook">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a></li>
                    <li><a href="https://www.instagram.com/hatscale/" target="_blank" class="icoInstagram" title="Instagram">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/andr%C3%A9-arag%C3%A3o-254049188/" target="_blank" class="icoLinkedin" title="Linkedin">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a></li>
                    <li><a href="https://github.com/andrechism" target="_blank" class="icoGithub" title="Github">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; 2020 Copyright: </span>
        <a href="#" class="text-light">blog.online </a>
    </div>
</footer>