.parallax {
    background-image: url('http://lorempixel.com/output/nightlife-q-c-1000-1000-4.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}