<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget posuere turpis, a imperdiet purus. Vestibulum iaculis, purus id lobortis aliquet, justo augue porttitor tellus, sed vestibulum dui ipsum ac libero. Donec eget elementum lectus. Nulla eget felis ac augue pharetra tincidunt. Maecenas euismod, elit non viverra lacinia, mauris magna ultrices odio, dictum rhoncus libero erat vel urna. Nullam eu vulputate tellus. In dignissim dui et tortor commodo iaculis. Donec quis lacus dictum, suscipit tortor sed, porta mauris. Sed eu est facilisis, pretium ligula in, dictum urna. Nunc nisl dolor, sagittis non neque ac, feugiat maximus lorem. Vestibulum rutrum porttitor risus, nec rhoncus tortor pulvinar ut. Suspendisse sagittis odio at malesuada viverra. Proin vulputate vitae enim vel pharetra. Maecenas in dignissim enim. Cras molestie sapien velit, a dignissim lorem fringilla porttitor. 
            </p>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink="/feed">Ver o Feed</button>
        </div>
    </div>
</div>